@media only screen and (max-width: 600px) {
    body {
        background-color:#bbc2d45d;
    }
  }

html {
    display: flex;
    background-color:#bbc2d45d;
}

.flex-it {
    font-family: 'Merriweather', serif;
    color: #2E2C2F;
    background-color:#bbc2d45d;
    display: flex;
    height: 100%;
    width: 100%;
}

label {
    width: 300px;
}

.header-title {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.header-input {
    display: flex;
    justify-content: space-around;
}

input {
    padding: 12px 20px;
    font-family: 'Merriweather', serif;
    width: 300px;
}

.form-stuff {
    margin: 20px;
    display:flex;
    flex-direction: column;
}

.full-form {
    height: 100vh;
}

.table-title {
    display: flex;
    justify-content: space-around;
}

.table {
    display: flex;
    justify-content: space-around;
}

.about-company {
    display: flex;
    flex-direction: column;
}

.about-you {
    display: flex;
    flex-direction: column;
}

.scroll {
    scroll-behavior: smooth;
    margin: 0% 46.5%;
}

.letter {
    margin: 5% 20%;
}

.hidden {
    display:none;
}

.butts {
    display: flex;
}

#button-intro{
    height: 100vh;
    width: 100vw;
    align-items: center;
    margin: 200px; 
}

button {
    background-color: #89ABBD;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    border-radius: 3px;
    font-size: 15px;;
}

button:hover{
    background-color: #2E2C2F;
    color: #89ABBD;
}

.full-letter {
    margin: 100px 0px;
    padding: 40px 0px;
}

.footer {
    display:flex;
    flex-flow: column;
    font-size: 12px;
    align-items: flex-end;
    margin: 3px 20px; 
    color: #B07156;
}

a:link {
    text-decoration: none; 
    color: #B07156;
}

.footer:link:visited {
    color: #B07156;
}