.flex-it {
    font-family: 'Merriweather', serif;
    color: #2E2C2F;
    background-color:#EFF2F9;
    display: flex;
    height: 100%;
}

label {
    width: 300px;
}

input {
    padding: 12px 20px;
    font-family: 'Merriweather', serif;
    width: 300px;
}

.form-stuff {
    margin: 20px;
    display:flex;
    flex-direction: column;
}

.table-title {
    display: flex;
    justify-content: space-around;
}

.table {
    display: flex;
    justify-content: space-around;
}

.about-company {
    display: flex;
    flex-direction: column;
}

.about-you {
    display: flex;
    flex-direction: column;
}

.scroll {
    scroll-behavior: smooth;
margin: 0% 45%;
}


.letter {
    margin: 5% 20%;
}

.hidden {
    display:none;
}

.butts {
    display: flex;

}

#button-intro{
    height: 100vh;
    align-items: center;
    margin: 200px; 
}

button {
    background-color: #89ABBD;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    color: #2E2C2F;
    border-radius: 3px;
}

button:hover{
    background-color: #2E2C2F;
    color: #89ABBD;
}

.footer {
    display:flex;
    flex-flow: column;
    font-size: 12px;
    align-items: flex-end;
    margin: 3px 20px; 
    color: #B07156;
}

a:link {
    text-decoration: none; 
    color: #B07156;
}

.footer:link:visited {
    color: #B07156;
}